In [1]:
import pandas as pd 
data = pd.read_csv('district-statistics.csv')
data

,ID,Total Pop,Devation,Dem,Rep,Oth,Total VAP,White,Minority,Hispanic,Black,Asian,Native,Pacific
Un,0.0,0.0000,0.6667,0.3333,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,NaN
1,59444.0,-0.0015,0.4304,0.5516,0.0180,48427.0,0.9391,0.0609,0.0270,0.0064,0.0063,0.0143,0.0008,NaN
2,59764.0,0.0039,0.4114,0.5633,0.0253,46407.0,0.9062,0.0938,0.0301,0.0155,0.0212,0.0211,0.0010,NaN
3,59728.0,0.0033,0.4200,0.5580,0.0220,44826.0,0.8981,0.1019,0.0392,0.0128,0.0300,0.0161,0.0005,NaN
4,59636.0,0.0017,0.4498,0.5267,0.0235,46594.0,0.8480,0.1520,0.0394,0.0351,0.0271,0.0502,0.0009,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,59312.0,-0.0037,0.4702,0.5082,0.0217,44619.0,0.9417,0.0583,0.0204,0.0122,0.0066,0.0116,0.0015,NaN
97,59664.0,0.0022,0.3624,0.6139,0.0236,46607.0,0.8508,0.1492,0.0837,0.0241,0.0213,0.0148,0.0009,NaN
98,59406.0,-0.0021,0.3771,0.5995,0.0235,47330.0,0.8336,0.1664,0.0755,0.0261,0.0466,0.0138,0.0010,NaN
99,59677.0,0.0024,0.2885,0.6932,0.0183,46349.0,0.9354,0.0646,0.0222,0.0069,0.0173,0.0110,0.0011,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN